# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
first-06.09.2023/first-06.09.2023/Debug/first-06.09.2023.tlog/CL.read.1.tlog
first-06.09.2023/.vs/first-06.09.2023/v16/ipch/AutoPCH/70b53f297e7d16a0/SOURCE1.ipch
first-06.09.2023/.vs/first-06.09.2023/v16/.suo
first-06.09.2023/.vs/first-06.09.2023/v16/Browse.VC.db
first-06.09.2023/.vs/first-06.09.2023/v16/ipch/AutoPCH/ec2db0605d7537a0/FIRST-06.09.2023.ipch
first-06.09.2023/first-06.09.2023/Debug/first-06.09.2023.exe.recipe
*.sln
*.lastbuildstate
*.tlog
*.filters
*.log
*.vcxproj
*.user
*.ipch
ООP/first-06.09.2023/.vs/ProjectSettings.json
*.sqlite
*.db
*.db
*.json
*.db
ООP/first-06.09.2023/.vs/first-06.09.2023/v16/.suo
ООP/first-06.09.2023/.vs/first-06.09.2023/v16/Browse.VC.db
ООP/first-06.09.2023/first-06.09.2023/Debug/first-06.09.2023.exe.recipe
*.recipe
ООP/first-06.09.2023/.vs/first-06.09.2023/v16/Browse.VC.db-wal
*.db-shm
*.opendb
AISD/№1/.vs/№1/v16/.suo
AISD/№1/.vs/№1/v16/Browse.VC.db-wal
